body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #0B192F;
    font-family: 'Helvetica', sans-serif;
}

* {
    box-sizing: border-box;
}

h2 {
    color: #e6f1ff;
}

.line-heading::after {
    content: ""; 
    display: block; 
    width: 300px;
    height: 1px; 
    background-color: #233554; 
    margin-top: 10px;
}

.experience-title:after {
    content: ""; 
    display: block; 
    width: 300px;
    height: 1px; 
    background-color: #233554; 
    margin-top: 10px;
}

.nav-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0B192F;
    z-index: 1000;
}

.logo-container {
    margin-right: auto; 
    width: 40px;
    height: 40px;
    display: flex;

}

#menu ul, li, a {
    list-style-type: none;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #e6f1ff;
    text-decoration: none;
}

#menu a:hover {
    color: #29f7c7;
}

.secondary_header  {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.secondary_header h4,
.secondary_header h1,
.secondary_header h2,
.secondary_header p {
    margin: 0;
}

.secondary_header h4 {
    font-size: 1.5em;
    color: #29f7c7;
}

.secondary_header h1 {
    font-size: 6em;
    color: #e6f1ff;
}

.secondary_header h2 {
    font-size: 3em;
    color: #b2bee3
}

.secondary_header p {
    font-size: 1.5em;
    color: #29f7c7;
    padding-top: 10px;
}

.secondary_header .connect-button {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1em;
    color: #29f7c7;
    text-decoration: none;
    border: 2px solid #29f7c7;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.secondary_header .connect-button:hover {
    color: #2980b9;
    border-color: #2980b9;
}

.right_article img {
    max-width: 100%;
    height: auto;
    box-shadow: 15px 15px 0 0 #29f7c7;
    transition: border-color 0.3s ease;
    transition: filter 0.3s ease;
}

#about {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 150px;
    justify-content: center;
}

.left_article {
    grid-row: 2;
    grid-column: 1;
    line-height: 1.5em;
    font-size: 1em;
    color: #2980b9;
    position: relative;
}

.right_article {
    grid-row: 2;
    grid-column: 2;
    padding-left: 80px;
    padding-bottom: auto;
}

.right_article img:hover {
    transform: scale(1.1);
}

.experience-button {
    grid-row: 3;
    grid-column: span 2;
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 1em;
    color: #29f7c7;
    text-decoration: none;
    border: 2px solid #29f7c7;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.experience-button:hover {
    color: #2980b9;
    border-color: #2980b9;
}

#experience {
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
  }

  .experience-title {
    position: relative;
    grid-column: span 3; 
    grid-row: 1;
  }
  
  .experience-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .clickable {
    cursor: pointer;
    color: #e6f1ff;
  }
  
  .clickable.active {
    color: #29f7c7;
  }

  .clickable-column {
    width: 300px;
    padding:40px;
  }

  .description-column {
    width: 600px;
    padding:40px;
  }
  
  .description {
    display: none;
    grid-column: 2;
    grid-row: span 4; 
  }
  
  .description.active {
    display: block;
  }

  .description h3 {
    color:#e6f1ff
  }

  .description p {
    color:#29f7c7
  }

  .description li {
    color:#2980b9;
    margin-left: 20px; 
    padding-left: 20px; 
    position: relative;
  }

  .description li::before {
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%; 
    margin-top: -4px; 
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #29f7c7; 
}

  .company-column {
    width: 400px;
    grid-column: 3; 
    grid-row: span 4; 
    color: #29f7c7;
    padding:40px;
  }

  .company img {
    max-width: 70%;
    border-radius: 50%; 
}
  
#projects {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
 
#projects a:hover {
    font-size: 1.1em;
    color: #29f7c7;
}

#projects p {
    color: #2980b9;
}

.project-item {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

#skills {
    padding-top: 50px;
}

.skills {
    width: 100%;
}

.skills-sections {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-sections ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.skills-sections li {
    margin: 10px;
    padding: 10px 20px;
    color: #29f7c7;
    border: 1px solid #29f7c7;
    border-radius: 5px;
}

.skills-sections li:hover {
    transform: scale(1.1); 
}

#projects {
    padding-top: 50px;
}

.socials h2 {
    text-align: center;
    margin-bottom: 30px;
}

.socials {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social_icons {
    display: flex;
    justify-content: center;
}

.social_icons a {
    margin: 0 30px;
}

.social_icons a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.form_container {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
}

#message_form,
#messages {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    max-height: auto;
    overflow: auto;
}

#message_form h2 {
    color: #e6f1ff;
}

#message_form label {
    display: block;
    color: #2980b9;
}

#message_form input,
#message_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#message_form button {
    background-color: #0B192F;
    color: #29f7c7;
    padding: 12px 20px;
    border: 2px solid;
    border-color: #29f7c7;
    border-radius: 4px;
    cursor: pointer;
}

#message_form button:hover {
    color: #2980b9;
    border-color: #2980b9;
}

#message_form textarea {
    line-height: 1.5;
}

#messages h2 {
    margin: 0;
    padding: 10px;
    color: #e6f1ff;
}

#messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#messages li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

#messages p {
    margin: 0;
}

#messages button {
    background-color: #0B192F;
    color: #29f7c7;
    padding: 8px 12px;
    border: 2px solid;
    border-color: #29f7c7;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#messages button:hover {
    color: #2980b9;
    border-color: #2980b9;
}

footer {
    color: #e6f1ff;
}

.secondary_header {
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

/* Floating Email Styles */
.floating-email {
    position: fixed;
    top: 70%;
    right: 50px; 
    transform: translateY(-50%);
    z-index: 1000;
    writing-mode: vertical-rl;
}

.floating-email a {
    color:#b2bee3;
    text-decoration: none;
    font-size: 16px;
}

.floating-email a:hover {
    color: #29f7c7;
}


/* Media query for smaller sizes */
@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)
                 {
    
    .nav-link {
        justify-content: center; 
    }

    #about,
    .form_container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 160px;
    }

    h2 {
        position: relative;
    }

    .experience-title:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .secondary_header {
        padding-top: 200px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
    }

    .secondary_header h1 {
        font-size: 4em; 
    }

    .secondary_header h2 {
        font-size: 2.5em; 
    }

    .secondary_header p {
        font-size: 1.2em; 
        padding-top: 10px;
    }

    .secondary_header .connect-button {
        margin-top: 20px; 
        width: 80%; 
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left_article {
        line-height: 1.5em;
        font-size: 1em;
        color: #2980b9;
        position: relative;
        width: 100%;
    }

    .right_article {
        justify-content: center;
        width: 100%;
        padding-left: 20px; 
        padding-bottom: auto;
    }

    .right_article img {
        max-width: 100%;
        height: auto;
        box-shadow: 15px 15px 0 0 #29f7c7;
        transition: border-color 0.3s ease;
        transition: filter 0.3s ease;
    }

    .experience-button {
        width: 80%; 
    }

    #experience {
        padding-top: 160px;
        padding-left: 20px;
        padding-right: 20px;
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        justify-content: center;
    }

    .experience-title {
        grid-column: unset; 
        grid-row: unset; 
        text-align: center; 
        margin-bottom: 20px;
    }

    .experience-container {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .experience-column,
    .description-column,
    .company-column {
        width: 100%; 
        padding: 20px; 
    }

    .clickable-column,
    .description-column,
    .company-column {
        width: 100%; 
        padding: 20px; 
    }
    .skills-sections h2 {
        padding-top: 100px;
    }

    .skills-sections {
        padding: 10px;
        align-items: center;
    }

    .skills-sections ul {
        flex-direction: column; 
    }

    .socials {
        padding-top: 160px;
        padding-bottom: 10px;
    }

    #projects {
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #message_form,
    #messages {
        width: 100%; 
    }

    .social_header {
        display: none; 
    }

    .floating-email {
        display: none; 
    }
}

.social_header {
    position: absolute;
    top: 700px;  
    right: 80px;  
}

.social_header a {
    margin: 0 40px;
}

.social_header a img {
    width: 40px; 
    height: auto; 
    border-radius: 50%;
}


